* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    background-color: #141414;
    scroll-behavior: smooth;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position:sticky;
    top: 0;
    z-index: 999;

}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin-right: 10%;
    padding-right: 100px;
    padding-left: 0px;
}

#navbar__logo {
    background-color: #6299ff;
    background-image: linear-gradient(to top, #ffb199 100% );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;

}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}


@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    .navbar__toggle .bar {
        transition-duration: 0.5s;
      }

    .navbar__item { 
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }


    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
      }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        transition: all 0.5s ease;
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transition: all 0.5s ease;
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transition: all 0.5s ease;
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section CSS */
main {
    margin: 0;
    align-items: center; 
    justify-content: center;
    text-align: center;
    background-color: #14141414;
    width: 100%;

}

.resume{
    animation: slideInUp;
    animation-duration: 2s;
}

img {
    animation: slideInDown;
    animation-duration: 2s;
    display: block;
    scale: 75%;
    margin: auto;
  }
  

 .page-title {
    animation: slideInDown;
    animation-duration: 2s;
    font-size: 3rem;
    background-color: #6299ff;
    background-image: linear-gradient(to top, #6299ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

 main a {
    text-decoration:none ;
    
}

main button {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom:70px;
    height: 75px;
    width: 25%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

main button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
    cursor: pointer;
}

main h2 {
    font-size: 2rem;
    background-color: #fff;
    justify-content: center;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
}


main p {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

main h3, ul {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* Footer CSS */
.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__container footer__link--items {
    display: flex;
    flex-direction: column;
}

.footer__container h2 {
    align: center;
    color: #21d4fd;
}

#footer__logo {
    background-color: #6299ff;
    background-image: linear-gradient(to top, #ffb199 100% );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items:center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-top: 20px
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 5px;
    margin-left: 4rem;
    width: 10rem;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: none;
}

.footer__link--items a:hover {
    color: #21d4fd;
    transition: 0.3s ease-out;
}

/* Social Icons */
.social__icon--link {
    color: #21d4fd;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 2.75rem;
    transition: 3.5s ease-out;
}

.social__media {
    max-width: 1000px;
    width: 100%
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    align-items:center;
    margin: 10px;
}

#email__logo {
    margin: 5px;
    cursor: pointer;
    align-self: center;
}

.social__icon--link a {
    color: #21d4fd;
}

#email__logo:hover {
    transform: scale(1.1);
    color: #6299ff;
}

#linkedin__logo:hover {
    transform: scale(1.1);
    color: #6299ff;
}

#handshake__logo:hover {
    transform: scale(1.1);
    color: #6299ff;
}

#github__logo:hover {
    transform: scale(1.1);
    color: #6299ff;
}

#linkedin__logo {
    margin: 10px;
    cursor: pointer;
}

#handshake__logo {
    margin: 10px;
    cursor: pointer;
}

#github__logo {
    margin: 10px;
    cursor: pointer;
}

.social__logo {
    color:#fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
    .footer__links {
      padding-top: 2rem;
    }
  
    #footer__logo {
      margin-bottom: 2rem;
    }
  
    .website__rights {
      margin-bottom: 2rem;
    }
  
    .footer__link--wrapper {
      flex-direction: column;
    }
  
    .social__media--wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer__link--items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }

  @keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0);
    }
  }

  @keyframes slideInDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
  }

  @keyframes slideInUp {
    from {
        transform: translateY(500px);
    }
    to {
        transform: translateY(0);
    }
  }

  @keyframes phaseIn {
    from {
        transform: opacity(0);
    }
    to {
        transform: opacity(1);
    }
  }

  .slideInLeft {
    animation-name: slideInLeft;
    animation-duration: 2s;
  }

  .slideInRight {
    animation-name: slideInLeft;
    animation-duration: 2s;
  }

  .slideInDown {
    animation-name: slideInLeft;
    animation-duration: 2s;
  }
